.chatContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.chatIcon {
    width: 50px;
    height: 50px;
    background-color: #0084ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatBox {
    width: 320px;
    height: 500px;
    background: #abcbca;
    border: 4px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chatHeader {
    background: #2e5759;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.headerButton {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
}

.chatContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    overflow: hidden;
}

.contactsList {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #abcbca;
}

.contactItem {
    margin-bottom: 10px;
    padding: 8px 12px;
    background: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.noContacts {
    color: #888;
    font-size: 14px;
}

.chatMessages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myMessage,
.otherMessage {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 12px;
    margin: 4px 0;
}

.myMessage {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
}

.otherMessage {
    align-self: flex-start;
    background-color: #e9ecef;
    color: black;
}

.messageContent {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.inputArea {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 80%;
    margin-right: 8px;
}

.sendButton {
    margin-left: 8px;
    padding: 8px 12px;
    background: #0084ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}