@font-face {
    font-family: 'LEMONMILK-Regular';
    src: url('/fontes/LemonMilk/LEMONMILK-Regular.otf') format('opentype');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D2C48; 
    height: 40px;
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-grow: 2;
    gap: 30rem;
}

.navLinks li a {
    text-decoration: none;
}

.login {
    font-family: "LEMONMILK-Regular";
    font-size: 18.995px;
    color: white;

}