.card {
    background: linear-gradient(91deg, #0D2C48 59.99%, #0D2C48 60.08%, #2C5274 99.47%);
    width: 100vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0; /* Remover margin para ocupar toda a tela */
    text-align: center;
    box-sizing: border-box; /* Incluir o padding no cálculo de largura e altura */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: 'Gimbal Extended';
    font-size: 3rem;
}