.text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'LEMONMILK-Regular', sans-serif;
  }
  .text h3 {
    margin-bottom: 1rem;
    line-height: 1.0;
    font-family: "Hammersmith One";
  }
  .text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: "Hammersmith One";
  }