.header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 16px;
}

.booksList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feed {
    background-color: #ffffff;
}