.helpCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(180deg, #0D2C48 55.34%, #2C5274 100%);
    color: #fff;
  
  }
  
  .container {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
  }
  
  .image {
    width: 500px;
    height: auto;
    border-radius: 8px;
  }
  
  .text {
    max-width: 600px;
  }
  
  .text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'LEMONMILK-Regular', sans-serif;
  }
  
  .text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: "Hammersmith One";
  }
  
  .text a {
    color: #00bfff;
    text-decoration: none;
    font-family: "Hammersmith One";
  }
  
  .text a:hover {
    text-decoration: underline;
  }
  