.button {
    padding: 10px 10px;
    width: 105%;
    height: 32px;
    background: linear-gradient(168deg, #417865 -41.33%, #539E85 91.89%);
    box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.30);
    color: #fff;
    border-radius: 29px;
    cursor: pointer;
    border: 0;
    margin-bottom: 10px;
}
